.main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url("../../images/image.png");
    background-repeat: no-repeat;
    background-color: rgb(157, 226, 249);
    background-position: center;
}

.title {
    font-size: 70px;

}

.intro-text {
    width: 100%;
    text-align: center;
    padding-top: 150px;
}

.landingButton {
    width: 200px;
    height: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.buttonContainer {
    padding-top: 50px;
}

@media only screen and (max-width:768px) {
    .landingButton {
        margin-bottom: 30px;
    }
}